.break-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: red;
  z-index: 2;

  .break-timer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
