.timer {
  display: flex;
  align-items: center;
  h2 {
    padding: 0 calculateRem(15) 0 calculateRem(15);
    font-size: calculateRem(90);
  }
  button {
    padding: calculateRem(10);
    border: none;
    border-radius: 50%;
    font-size: calculateRem(18);
    background-color: #b88e8d;
    cursor: pointer;
  }
}
